In [1]:
#!pip install xlrd

In [2]:
from data_handler import DataHandler
dh = DataHandler()

In [3]:
df_raw=dh._load_data_restrictions()
df_raw.head()

   ISO                                CATEGORY DATE_IMPLEMENTED  ID
0  AFG  Governance and socio-economic measures       2020-02-06   1
1  AFG  Governance and socio-economic measures       2020-02-12   2
2  AFG  Governance and socio-economic measures       2020-02-24   3
3  AFG  Governance and socio-economic measures       2020-03-01   4
4  AFG  Governance and socio-economic measures       2020-03-20   5

In [12]:

df=df_raw.groupby(['ISO','CATEGORY', 'DATE_IMPLEMENTED']).count().groupby(level=0).cumsum().reset_index().filter(["ISO","CATEGORY","DATE_IMPLEMENTED","ID"])\
.rename(columns={'ID': 'No. Restrictions'})
df.CATEGORY.unique()

array(['Governance and socio-economic measures', 'Lockdown',
       'Movement restrictions', 'Public health measures',
       'Social distancing', 'Humanitarian exemption'], dtype=object)

In [10]:
data_ecdc, fields_ecdc = dh._load_data_ecdc()
dh.dates[:10]

[datetime.date(2020, 3, 1),
 datetime.date(2020, 3, 2),
 datetime.date(2020, 3, 3),
 datetime.date(2020, 3, 4),
 datetime.date(2020, 3, 5),
 datetime.date(2020, 3, 6),
 datetime.date(2020, 3, 7),
 datetime.date(2020, 3, 8),
 datetime.date(2020, 3, 9),
 datetime.date(2020, 3, 10)]

In [7]:
data_ecdc.join()

     cases  deaths countriesAndTerritories ISO3  population        date
155     44       1                 Albania  ALB   2866376.0  2020-06-12
156     42       0                 Albania  ALB   2866376.0  2020-06-11
157     36       0                 Albania  ALB   2866376.0  2020-06-10
158     17       0                 Albania  ALB   2866376.0  2020-06-09
159     14       0                 Albania  ALB   2866376.0  2020-06-08

In [ ]:
fields_ecdc